<div class="contact-container">
  <div class="contact-header">
    <h1 class="header-1 hover-1">WANNA START</h1>
    <h1 class="header-2">A NEW PROJECT?</h1>
  </div>
  <div class="flex">
    <div class="contact-info-container">
      <div class="contacts m-left">
        <h1 class="contact-description">CONTACTS</h1>
        <div class="contact-div">
          <h3>Email</h3>
          <p>keltonhale33@gmail.com <span class="right-arrow">
              &#x2192;
            </span></p>

        </div>


      </div>
      <div class="contacts">
        <h1 class="contact-description">SOCIALS</h1>
        <a href="https://github.com/khale913" target="_blank" style="text-decoration: none;">
          <div class="contact-div">
            <h3>GitHub</h3>
            <p>Khale913 <span class="right-arrow">
                &#x2192;
              </span></p>
          </div>
        </a>
        <div class="contact-div">
          <h3>LinkedIn</h3>
          <p>Kelton Hale <span class="right-arrow">
              &#x2192;
            </span></p>
        </div>
        <div class="contact-div">
          <h3>Instagram</h3>
          <p>Kelton__Hale <span class="right-arrow">
              &#x2192;
            </span></p>
        </div>
      </div>
    </div>

  </div>
</div>
