<div class="navbar-container">

  <div class="nav-title" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">KH<div
      class="kelton-dot"></div>
  </div>

  <div class="nav-center">Riverside,CA 05:06:05 PM</div>

  <div class="nav-tabs-container">
    <ul class="nav-tabs-list">
      <div class="link-wrapper">
        <li class="nav-tab full hover-1">Home</li>
      </div>
      <div class="link-wrapper">
        <li class="nav-tab full hover-1">About</li>
      </div>
      <div class="link-wrapper">
        <li class="nav-tab full hover-1">Work</li>
      </div>
      <div class="link-wrapper">
        <li class="nav-tab full hover-1">Skills</li>
      </div>
      <div class="link-wrapper">
        <li class="nav-tab full hover-1">Contact</li>
      </div>
      <div class="link-wrapper">
        <li class="nav-tab full hover-1">Menu</li>
      </div>

    </ul>
  </div>

</div>
