<div class="navbar-container">

  <div class="nav-title">KH<div class="kelton-dot"></div>
  </div>

  <div class="nav-center">Riverside,CA 05:06:05 PM</div>

  <div class="nav-tabs-container">
    <ul class="nav-tabs-list">
      <li class="nav-tab full">Home</li>
      <li class="nav-tab full">About</li>
      <li class="nav-tab full">Work</li>
      <li class="nav-tab full">Skills</li>
      <li class="nav-tab full">Contact</li>
      <li class="nav-tab small">Menu</li>
    </ul>
  </div>

</div>
