* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0D0D0D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  border: .8px solid rgb(51, 51, 51);
  z-index: 99999;
}

.nav-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: white;
  display: flex;
  margin-left: 20px;
  flex: 1;
  cursor: pointer;
}

.nav-center {
  font-family: 'Poppins', sans-serif;
  flex: .7;
  font-size: .85rem;
}

.nav-center span {
  margin: 0 1px;
  font-size: .85rem;
}

.nav-tabs-container {
  flex: .6;
}

.kelton-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
  margin-top: 8px;
  margin-left: 5px;
}

.nav-tabs-list {
  font-family: 'Poppins', sans-serif;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.nav-tab {
  margin-right: 20px;
}

.small {
  display: none;
}

/* hover styles */

.link-wrapper {
  position: relative;
  display: block;
  padding: 0px 0;
  cursor: pointer;
}


.hover-1 {
  &:after {
      content:'';
      position: absolute;
      width: 70%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
  }

  &:hover {
      &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
      }
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .full-screen {
    display: none;
  }

  .mobile {
    display: block;
  }

  .small {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-title {
    flex: .6;
  }
}
