<div class="projects-container">
  <div class="projects-header">
    <h2 class="slideUp">Projects</h2>
  </div>

  <div class="projects-entire-container">

    <div class="project-view-container"></div>

    <div class="project-name-container">

      <div class="caption-column">
        <p>Here are some of the works done (c.) 2020-2022 within App and Web Design.</p>
      </div>

      <div class="projectOne">
        <div class="project-name">
          <h2>La Hacienda</h2>
        </div>

        <div class="project-type">
          <div class="type">
            <p>Web Design</p>
            <p>/ 2022</p>
          </div>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="projectTwo">
        <div class="project-name dark">
          <h2>MJ Builders</h2>
        </div>

        <div class="project-type">
          <div class="type">
            <p>Web Design</p>
            <p>/ 2022</p>
          </div>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="projectTwo">
        <div class="project-name darker">
          <h2>FUTURE page</h2>
        </div>

        <div class="project-type">
          <div class="type">
            <p>Web Design</p>
            <p>/ 2022</p>
          </div>
          <div class="arrow"></div>
        </div>
      </div>

      <div class="projectTwo">
        <div class="project-name darkest">
          <h2>react project</h2>
        </div>

        <div class="project-type">
          <div class="type">
            <p>Web Design</p>
            <p>/ 2022</p>
          </div>
          <div class="arrow"></div>
        </div>
      </div>

    </div>

  </div>
</div>
