<div class="projects-container">
  <div class="projects-header">
    <h2 class="slideUp">Projects</h2>
  </div>

  <div class="projects-entire-container">

    <div class="project-view-container">
      <div class="project-img"
        *ngIf="mouseHoverProjectOne || mouseHoverProjectTwo || mouseHoverProjectThree || mouseHoverProjectFour || mouseHoverProjectFive">
        <img [ngClass]="activeProjectClass" src="{{activeProjectHover}}" alt="">
      </div>
    </div>

    <div class="project-name-container">

      <div class="caption-column">
        <p>Here are some of the works done (c.) 2020-2022 within App and Web Design.</p>
      </div>
      <a style="list-style: none; text-decoration: none; width: 100%;" href="https://wolfcycle.ai/" target="_blank">
        <div class="projectOne" (mouseenter)="hoverFunction('one', true)" (mouseleave)="hoverFunction('one', false)">
          <div class="project-name" [ngClass]="{'hoverProject' : mouseHoverProjectOne === true}">
            <h2>WolfCycle.ai</h2>
          </div>

          <div class="project-type">
            <div class="type" [ngClass]="{'hoverProjectright' : mouseHoverProjectOne === true}">
              <p>Web Design</p>
              <p>/ 2022</p>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </a>
      <a href="https://mjbuilders.co/" target="_blank" style="list-style: none; text-decoration: none; width: 100%;">
        <div class="projectTwo" (mouseenter)="hoverFunction('two', true)" (mouseleave)="hoverFunction('two', false)">
          <div class="project-name dark" [ngClass]="{'hoverProject' : mouseHoverProjectTwo === true}">
            <h2>MJ Builders</h2>
          </div>

          <div class="project-type">
            <div class="type" [ngClass]="{'hoverProjectright' : mouseHoverProjectTwo === true}">
              <p>Web Design</p>
              <p>/ 2022</p>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </a>
      <a style="list-style: none; text-decoration: none; width: 100%;"
        href="https://luminous-shortbread-3e3b4a.netlify.app/" target="_blank">
        <div class="projectTwo" (mouseenter)="hoverFunction('three', true)"
          (mouseleave)="hoverFunction('three', false)">
          <div class="project-name darker" [ngClass]="{'hoverProject' : mouseHoverProjectThree === true}">
            <h2>FUTURE page</h2>
          </div>

          <div class="project-type">
            <div class="type" [ngClass]="{'hoverProjectright' : mouseHoverProjectThree === true}">
              <p>Web Design</p>
              <p>/ 2022</p>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </a>
      <div class="projectTwo" (mouseenter)="hoverFunction('four', true)" (mouseleave)="hoverFunction('four', false)">
        <div class="project-name darkest" [ngClass]="{'hoverProject' : mouseHoverProjectFour === true}">
          <h2>La Hacienda</h2>
        </div>

        <div class="project-type">
          <div class="type" [ngClass]="{'hoverProjectright' : mouseHoverProjectFour === true}">
            <p>Web Design</p>
            <p>/ 2022</p>
          </div>
          <div class="arrow"></div>
        </div>
      </div>
      <a style="list-style: none; text-decoration: none; width: 100%;" target="_blank"
        href="https://spontaneous-lamington-2dcff3.netlify.app/">
        <div class="projectTwo" (mouseenter)="hoverFunction('five', true)" (mouseleave)="hoverFunction('five', false)">
          <div class="project-name darkest" [ngClass]="{'hoverProject' : mouseHoverProjectFive === true}">
            <h2>TRVL</h2>
          </div>

          <div class="project-type">
            <div class="type" [ngClass]="{'hoverProjectright' : mouseHoverProjectFive === true}">
              <p>Web Design</p>
              <p>/ 2022</p>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
