.projects-container {
  background-color: white;
  padding-top: 100px;
  color: black;
  padding-left: 3rem;
}

.projects-header {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
}

.slideUp {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 3.5rem;
  font-weight: 500;
  opacity:0;
}

.slideUp {
  top:40px;
  left:10px;
  animation: slideUp ease .5s forwards 1.2s;
}


@keyframes slideUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}


.projects-entire-container {
  display: flex;
  padding: 30px 40px 30px 0;

}

.project-view-container {
  flex: 1;
}

.project-name-container {
  flex: 2.8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.caption-column {
  font-family: 'Poppins', sans-serif;
  font-size: .95rem;
  font-weight: 200;
  text-align: right;
  width: 30%;
  padding-bottom: 80px;
}

.project-name {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.project-name h2{
  font-size: 1.4rem;
  font-weight: 200;
  color: rgb(170, 170, 170);
}

.dark h2{
  color: rgb(147, 147, 147);
}

.darker h2 {
  color: rgb(117, 117, 117);
}

.darkest h2 {
  color: rgb(33, 33, 33);
}

.projectOne {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid rgb(215, 215, 215);
  border-bottom: 2px solid rgb(212, 212, 212);
  cursor: pointer;

}

.projectTwo {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid rgb(215, 215, 215);
  border-bottom: 2px solid rgb(212, 212, 212);
  cursor: pointer;
}

.in-progress {
  background-color: rgb(211, 211, 211);
}

.type {
  color: black;
  margin-right: 8rem;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.hoverProject {
  padding-left: 3rem;
  transition: .3s ease-in-out;

}

.hoverProjectright {
  transition: .3s ease-in-out;
  margin-right: 5rem;
}

.project-img  img{
  // object-fit: cover;
  // height: 350px;
  // width: 100%;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-one {
  margin: 0 !important;
  padding: 0 !important;
}

.project-two {
  margin-top: 10rem !important;
}

.project-three {
  margin-top: 20rem !important;
}

.project-four {
  margin-top: 28rem !important;
}

.project-five {
  margin-top: 38rem !important;
}

@media screen and (max-width: 1000px) {
  .project-view-container {
    display: none;
  }

  .hoverProject {
    padding-left: 0;
    transition: none;
  }

  .hoverProjectright {
    transition: .3s ease-in-out;
    margin-right: 0;
  }
  .type {
    margin-right:0rem;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
  }

  .caption-column {
    width: 75%;
  }
}
