<div class="landing-container">
  <div class="cursor" id="cursor" [ngClass]="{'hoverText' : mouseHoverEvent === true}"></div>
  <div class="top-text">
    <div class="left-container">

    </div>
    <div class="right-container">
      <p class="intro-text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">Hello, welcome
        to
        my website!
        Im
        a
        web and hybrid app
        developer from California with the need to build pixel perfect projects for myself and the internet.
        Keep
        scrolling and enjoy!
      </p>
      <p class="intro-text">- Kelton</p>



    </div>
  </div>



  <div class="wrapper">
    <div class="marquee">
      <div class="marquee-text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">
        KELTON HALE<div class="circle"></div>DEVELOPER<div class="circle"></div>
      </div>
      <div class="marquee-text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">
        KELTON HALE<div class="circle"></div>DEVELOPER<div class="circle"></div>
      </div>
    </div>
  </div>
</div>
