<div class="landing-container">
  <div class="cursor" id="cursor" [ngClass]="{'hoverText' : mouseHoverEvent === true}"></div>
  <div class="top-text">
    <div class="left-container">

    </div>
    <div class="right-container">
      <p class="intro-text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">Hello, welcome to
        my website!
        Im
        a
        web and hybrid app
        developer from California with the need to build pixel perfect projects for myself and the internet.
        Keep
        scrolling and enjoy!
      </p>
      <p class="intro-text">- Kelton</p>
      <!-- <div class="scroll-icon">
        <div class="scroll-text-div">
          <svg width="40px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
            <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;" />
            <path id="mouse"
              d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
              style="fill:none;stroke:#fff;stroke-width:20px;" />
          </svg>
          <p>scroll down</p>
        </div>
      </div> -->
    </div>
  </div>



  <div class="wrapper">
    <div class="marquee">
      <div class="marquee-text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">
        KELTON HALE<div class="circle"></div>DEVELOPER<div class="circle"></div>
      </div>
      <div class="marquee-text" (mouseenter)="hoverFunction(true)" (mouseleave)="hoverFunction(false)">
        KELTON HALE<div class="circle"></div>DEVELOPER<div class="circle"></div>
      </div>
    </div>
  </div>
</div>
