<div class="about-container">
  <div class="about-header">
    <div class="slideUp">About</div>
  </div>

  <div class="about-description">
    <ul class="about-ul">
      <li class="about-li">I'm <span class="name">Kelton</span>. A web and hybrid mobile app developer with a focus on
        Front End
        Development. I am a
        driven and pixel addicted individual looking to build the next big thing! </li>
      <li class="about-li">I work as a freelancer with all types of businesses and support them with my development
        skills. My work focuses on user facing features and building websites & mobile applications.</li>
    </ul>
  </div>
</div>
