.about-container {
  // height: 100vh;
  color: black;
  padding-left: 3rem;
}

.about-header {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
    cursor: default;

}

.slideUp {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 3.5rem;
  opacity:0;
}

.slideUp {
  top:40px;
  left:10px;
  animation: slideUp ease .5s forwards 1.2s;
}


@keyframes slideUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}


.about-description {
  padding-left: 2.5rem;
  width: 70%;
  cursor: default;

}

.name {
  // border-bottom: 1px solid black;
  font-weight: 500;
  cursor: default;

}

.about-li {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 3rem;
  line-height: 3.2rem;
  padding-bottom: 50px;
  cursor: default;
}

@media only screen and (max-width: 1200px) {
  .about-li {
    font-size: 2.5rem;
    line-height: 3.2rem;
    padding-bottom: 50px;
  }

}

@media only screen and (max-width: 1000px) {
  .about-container {
    padding-left: 0rem;
  }

  .about-header {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .about-description {
    padding-left: 2.5rem;
    width: 85%;
  }

  .slideUp {
    font-size: 3rem;
  }

  .about-li {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 50px;
  }

}

@media only screen and (max-width: 750px) {
  .about-container {
    padding-left: 0rem;
  }

  .about-header {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .about-description {
    padding-left: 2.5rem;
    width: 95%;
  }

  .slideUp {
    font-size: 2.5rem;
  }

  .about-li {
    font-size: 1.9rem;
    line-height: 2rem;
    padding-bottom: 50px;
  }

}



@media only screen and (max-width: 600px) {
  .about-header, .text, .slideDown, .slideUp {
    font-size: 2rem;
    padding-left: 1rem;
  }

  .about-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {

  .about-container {
    padding-left: 2rem;
  }

  .about-header, .text, .slideDown, .slideUp {
    font-size: 2rem;
    padding-left: 0rem;
  }

  .about-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-li {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding-bottom: 50px;
  }

  .about-description {
    padding-left: 0;
    width: 100%;
  }
}
