* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  // transition: all 300ms ease-out;
}
