<div class="skills-container">
  <div class="skills-header">
    <h2 class="slideUp">Skills</h2>
  </div>

  <div class="skills-text">
    <p>Over time, I have really refined my skills in development and critical thinking. Below you will see the
      frameworks, design tools, version controls, and softwares that I have learned during my development journey. Happy
      scrolling.</p>
  </div>

  <div class="skills-images-container">
    <div class="skills-images">
      <img class="skill-icon" src="../../../assets/skillsIcons/Javascript.png" alt="javascript logo">
      <img class="skill-icon" src="../../../assets/skillsIcons/5847f5bdcef1014c0b5e489c.png" alt="HTML5 icon">
      <img class="skill-icon" src="../../../assets/skillsIcons/css3-logo-png-transparent.png" alt="CSS3 icon">
      <img class="skill-icon" src="../../../assets/skillsIcons/typescript_original_logo_icon_146317.png"
        alt="typescript icon">
      <img class="skill-icon" src="../../../assets/skillsIcons/5847ea22cef1014c0b5e4833.png" alt="angular icon">
      <img class="skill-icon" src="../../../assets/skillsIcons/react_original_logo_icon_146374.png" alt="react icon">
      <img class="skill-icon" src="../../../assets/skillsIcons/figma-1-logo-png-transparent.png" alt="FIGMA icon">
      <img class="skill-icon" src="../../../assets/skillsIcons/github-logo.png" alt="github icon">


      <img class="skill-icon" src="../../../assets/skillsIcons/NicePng_slack-logo-png_2233246.png" alt="heroku icon">
      <img class="skill-icon"
        src="../../../assets/skillsIcons/kisspng-computer-icons-pro-git-portable-network-graphics-i-git-book-pro-git-app-app-5b80546c513c68.2896615215351368763328.png"
        alt="git icon">
      <img
        src="../../../assets/skillsIcons/kisspng-ionic-apache-cordova-software-framework-mobile-app-5bfc36aaa66590.8498348615432557226816.png"
        alt="ionic framework logo" class="skill-icon">
    </div>
  </div>

</div>
